@mixin button-style {
  background-color: $button-color;
  border-color: $button-color;
  border-radius: .625rem;
  color: $button-text-color;
  font-size: 1rem;
  font-weight: bold;
  height: 3rem;
  letter-spacing: .0625rem;
  transition: background-color .125s ease-in-out, color .125s ease-in-out;
  width: 12rem;

  &:hover {
    background-color: $button-text-color;
    color: $button-color;
  }
}
