@import '~bootstrap/scss/bootstrap';
@import './variables';
@import './mixins';

body {
  background-color: $bg-color;
  font-size: $font-size-default;
  text-align: center;
}

.intro-phase {
  margin-top: 2rem;

  .jumbotron {
    @include jumbotron;

    .intro-header {
      margin: 1rem 0;
    }

    .intro-instructions {
      font-size: 1.125rem;
      line-height: 1.5;
      margin: 2rem auto;
      text-align: left;
      width: 35.9375rem;
    }

    .intro-navigation {
      margin: 1rem 0;

      .btn-start {
        display: none;
        margin: auto;
      }
    }
  }
}

.test-phase {
  margin-top: 2rem;
  padding: 0 2rem;

  .jumbotron {
    @include jumbotron;

    .target-icon {
      font-size: 1.875rem;
    }

    .icons-table {
      margin: 2rem auto;

      tr {
        .icons {
          background-color: transparent;
          border: .0625rem solid transparent;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          max-width: 3.5625rem;
          padding: .9375rem;
          transition: border-color .125s ease-in-out, background-color .125s ease-in-out, transform .125s ease-in-out;
          width: 100%;

          &:hover {
            border: .0625rem dashed $icon-border-hover;
            transform: scale(1.5);
            z-index: 1;
          }
        }

        .selected {
          background-color: $icon-selected-background;
        }
      }
    }

    .number-clicked {
      display: none;
    }

    .test-navigation {
      .btn-next {
        display: none;

        i {
          vertical-align: text-bottom;
        }
      }
    }
  }
}

.result-phase {
  margin-top: 2rem;

  .jumbotron {
    @include jumbotron;

    .lead {
      margin: .5rem 0 1rem;
    }

    .progress-bar-container {
      margin: 2rem 0 0;

      .progress {
        border: .0625rem dashed $progress-bar-border;
        box-shadow: .0625rem .0625rem .0625rem .0625rem $progress-bar-shadow, -.0625rem -.0625rem .0625rem .0625rem $progress-bar-shadow;
        font-size: 1rem;
        font-weight: bold;
        height: 2.5rem;
        margin: auto;
        width: 28.125rem;

        .progress-bar {
          border-radius: .3125rem;
          padding: 0 .625rem 0 0;
          text-align: right;
          width: 12.5%;
        }
      }

      .progress-bar-label {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 28.125rem;

        span {
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }

    .table {
      thead {
        th {
          font-size: 1.5rem;
          font-weight: normal;
        }
      }
    }

    .btn-block-two {
      margin-top: 2rem;
    }
  }
}

.table-bordered th,
.table-bordered td {
  border: .0625rem solid $table-border;
}

.test-phase,
.result-phase {
  display: none;
  visibility: hidden;
}

h1,
h4 {
  margin: 0;
}

.btn {
  @include button-style;
}
