$bg-color: #f1f1f1;

$button-color: #000;
$button-text-color: #fff;

$header-logos-border: #d3d3d3;
$header-logos-background: #fff;

$icon-border-hover: #000;
$icon-selected-background: #bfbfbf;

$jumbotron-border: #bfbfbf;
$jumbotron-box-shadow: #000;

$progress-bar-border: #fff;
$progress-bar-shadow: #8c8c8c;

$table-border: #8c8c8c;

$font-size-default: 1.1rem;
