$bg-color: #f1f1f1;

$icon-border-hover: #000;
$icon-selected-background: #bfbfbf;

$button-color: #000;
$button-text-color: #fff;

$font-size: 1.1rem;

$jumbotron-border: #bfbfbf;
$jumbotron-box-shadow: #000;
